<div class="container-fluid" style="background-color: #00ECFF">
  <div class="row">
    <div class="col text-right">
      <%= link_to "top", top_path, :class => "text-dark" %>
    </div>
  </div>
  <div class="row1">
    <div class="col">
      <h3>
        ルイザ・グロス・ホロウィッツ賞を受賞した日本人を全員覚えられるアプリです！<br>
        <br>
        このアプリをマスターするだけで全ての日本人ルイザ・グロス・ホロウィッツ賞<br>
        受賞者を網羅できます！<br>
        <br>
        全問正解したらクリアとなります。
      </h2>
    </div>
  </div>
</div>