<div class="container-fluid" style="background-color: #FFFF99">
  <div class="row3">
    <div class="col text-center">
      <h1>クリア</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h2>1不可説不可説転点</h2>
    </div>
  </div>
  <div class="row4">
    <div class="col text-center">
      <%=link_to "TOPページに戻る", top_path, :class => "text-dark" %>
    </div>
  </div>
</div>