<div class="container-fluid" style="background-color: #FF77FF;">
  <div class="row3">
    <div class="col text-center">
      <h1>
        生物学や生化学の研究者に贈られる<br>
        ルイザ・グロス・ホロウィッツ賞を<br>
        現在、日本人で唯一受賞したのは誰？
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col1 text-center ml-auto">
      <h1 class="font-weight-bold">
        <%= link_to "利根川進", questions_correct_path, :class => "text-dark" %>
      </h1>
    </div>
    <div class="col2 text-center mr-auto">
      <h1 class="font-weight-bold">
        <%= link_to "木村資生", questions_wrong_path, :class => "text-dark" %>
      </h1>
    </div>
  </div>
</div>