<div class="container" style="background-color: #00ECFF">
  <div class="row">
    <div class="col text-center">
      <h1>
        ルイザ・グロス・ホロウィッツ賞<br>
        日本人受賞者を覚えよう！
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-20">
      <h4>
        ルイザ・グロス・ホロウィッツ賞<br>
        日本人受賞者を全員答えられたらクリアだよ
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "GAME START", questions_path, :class => "btn btn-outline-success" %>
    </div>
  </div>
</div>