<div class="container-fluid" style="background-color: #FFFF99">
  <div class="row3">
    <div class="col3 text-center">
      <p>残念</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>
        あなたはルイザ・グロス・ホロウィッツ賞の<br>
        日本人受賞者を1人も覚えていません
      </h3>
    </div>
  </div>
  <div class="row4">
    <div class="col text-center">
      <%=link_to "TOPページに戻る", top_path, :class => "text-dark" %>
    </div>
  </div>
</div>