// Place all the styles related to the puestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  height: 100%;
}

.row1{
  padding: 150px;
}

.row2{
  padding-bottom: 80px;
}

.row3{
  padding:150px;
}

.row4{
  padding:80px;
}

.col1 {
    padding: 4em 2em;
    margin: 2em 3em;
    color: #FFFFFF;
    background: #FFFFFF;/*背景色*/
}
.col1 p {
    margin: 0;
    padding: 0;
}

.col2 {
    padding: 4em 2em;
    margin: 2em 3em;
    color: #FFFFFF;
    background: #FFFFFF;/*背景色*/
}
.col2 p {
    margin: 0;
    padding: 0;
}